*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.nav {
  font-weight: 700;
  font-size: 14, 4px;
  color: #acb4c4;
  font-family: "Cabin", sans-serif; }

nav {
  text-decoration: none;
  color: inherit;
  font-size: 14px; }
  nav ul {
    list-style: none;
    display: flex;
    margin: 0 -10px; }
  nav li {
    margin: 0 10px; }
  nav li:hover {
    background-color: #fff;
    color: #000; }
  nav.primary {
    width: 100vw;
    height: 86px;
    background: #ed3833; }
  nav.secondary {
    width: 100vw;
    height: 40px;
    background: #ffffff; }
