.header {
    height: 70vh;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.801),
        rgba(215, 221, 219, 0.808)),
        url("/assets/img/hero.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
}